* {
    padding: 0;
    margin: 0;
    font-family: Pretendard;
}

/* --------------------------------------------------------------------*/

header, main {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

.container {
    height: 60px;
    border-bottom: 1px solid black;
}

.logo{
    width: 112px;   
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.logo_image{
    width: 40px;
    /* img에 직접 걸어주면, 가로의 비율이 깨지는 느낌이 있다. */
}

.logo img{
    height: 32px;
    /* logo_image 클래스에 주면, img는 영향을 받지 않는다
    따라서, .logo_image{}의 width와 logo img{}의 height를 따로 써줄 수 밖에 없었는데, 더 좋은 방법이 왠지 있을 것 같다. */
}

.logo>div>span{
    font-size: 1.6rem;
}

/* --------------------------------------------------------------------*/
nav>ul{
    display: flex;
    line-height: 60px;
    align-items: center;
    margin-left: 70px;
}

nav>ul>li {
    /* overflow: hidden; */
    list-style: none;
    margin-left: 44px; /* 만약, 채용을 div에 안넣고, <li>채용</li>였다면, 채용은 위 70px뿐 아니라 44px까지 적용받아 총 왼쪽 마진이 114px이 되었을 것이다.*/
    align-items: center;
}

nav>ul>li>i {
    margin-right: 3px;
}

/* #hiring>i{
    margin-right: 5px;
} */

/* nav>ul>li>div>ul{
    float: left;

} */

/* --------------------------------------------------------------------*/

#btn {
    width: 262px;
    height: 40px;
    position: absolute;
    right: 0;
    /* top: calc((100% - 40px)/2); */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: aqua;
}

#btn>div:not(:first-of-type) {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px 0px;
}

#search{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#login {
    width: 113px;
    margin : 0px 10px;
}

#company {
    width: 89px;
}

/* --------------------------------------------------------------------*/
.menu{
    width: 100%;
    position: absolute;
    margin-top: 100px;
}

.menu>ul{
    height: 100px;
    width: 80%;
    margin: auto;
    background-color: aquamarine;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu>ul>li{
    align-items: center;
}

.menu>ul>li>div>div{
    background-color: red;
    width: 56px;
    height: 56px;
    background-image: url(../img/image\ sprite_main.png);
    background-position-y: 10%;
}

.menu span{
    font-size: smaller;
    align-items: center;
}