main{
    background-color: aqua;
    width: 1024px;
    margin: auto;
}
.main_info_container{
    background-image: url(https://imagedelivery.net/57rIj2o4cJ62boUSs_DLpA/437c8f58-6fc6-4b96-9bf0-681ed20aa300/public);
    height: 563px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
}
.main_info_pic{
    position: relative;
}

.cookie_img{
    position: absolute;
    top: 20%;
    left: 25%;
}
.main_info_self{
    background-color: aqua;
    position: absolute;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(2,1fr);
    justify-content: center;
    width: 400px;
    height: 180px;
    top: 20px;
    right: 56px;
}
.grid_box{

}
.grid_info{
    width: 150px;
}