* {
    padding: 0;
    margin: 0;
    
}
header{
    margin: auto;
    width: 600px;
    height: 350px;
    text-align: center;
}
main{
    margin: auto;
    width: 600px;
    text-align: center;
}

.logo img{
    width: 500px;
}
header>div>ul{
    display: flex;
    list-style: none;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
header div img{
    width: 40px;
}

header>div>ul>a{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 20px;
    font-weight: bold;
    font-size: 13px;
}
.join_title>ul{
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.join_title>ul>li>img{
    width: 30px;
    height: 30px;
}
.mmm{
    width: auto;
    display: inline-block;
    text-align: center;
    text-align: left;
    margin: 0;
}
.mmm>p{
    font-size: 15px;
    border: 1px solid white;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(241, 195, 110);
    color: white;
    margin: 30px 0 10px 0;
}
.join{
    display: grid;
    position: relative;
    flex-wrap: wrap;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 20px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding: 15px;
    font-weight: bolder;
    font-size: 14px;
}
.join_id{
    display: grid;
    font-size: 14px;
    position: relative;
    flex-wrap: wrap;
    grid-template: repeat(8, 1fr) / repeat(2, 1fr);
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-weight: bolder;
    text-align: left;
    padding: 10px;
    align-items: center;
}
.join_id div{
    width: 120px;
    height: 30px;
    align-items: center;
    display: grid;
}
.join_id input{
    width: 240px;
    height: 10px;
    padding: 5px;
}
.join_button{
    width: 300px;
    height: 50px;
    background-color: rgb(241, 195, 110);
    color: white;
    line-height: 50px;
    align-items: center;
    margin: 20px 50px;
    font-weight: bold position: relative;
    position: relative;
    left: 100px
}