

.menu>img{
    width: 100%;
}
.main_option{
    height: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.main_list{
    /* background-color: blue; */
    margin-top: 30px;
    height: 900px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    gap: 20px;

}
.main_list_box {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid rgb(153, 145, 145, 0.5);
    box-shadow:  5px 5px 10px rgba(94, 94, 94, 0.658);
    background-color: beige;
    
    border-radius: 20px;
    overflow: hidden;
}
.main_list_box img {
    width: 100%;    
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.main_list_box:nth-of-type(2)>img{
    width: 140%;
}
.main_list_box:nth-of-type(3)>img{
    width: 110%;
}
.main_list_box:nth-of-type(5)>img{
    width: 145%;
}
.main_list_box:nth-of-type(7)>img{
    width: 87%;
}
.main_list_box:nth-of-type(9)>img{
    width: 80%;
}
.main_list_box:nth-of-type(10)>img{
    width: 85%;
}
.main_list_box:nth-of-type(12)>img{
    width: 85%;
}
.main_list_box:nth-of-type(13)>img{
    width: 120%;
}
.main_list_box:nth-of-type(14)>img{
    width: 120%;
}
.main_list_box:nth-of-type(16)>img{
    width: 160%;
    transform: translate(-40%, -50%);
}
.main_list_box:nth-of-type(17)>img{
    width: 120%;
}
.main_list_box:nth-of-type(18)>img{
    width: 150%;
}
.main_list_box:nth-of-type(19)>img{
    width: 190%;
    transform: translate(-50%, -60%);
}
.main_list_box:nth-of-type(20)>img{
    width: 150%;
}

.main_list_box:nth-of-type(n+6):nth-of-type(-n+12)>img{
    transform: translate(-50%, -40%);
}
.main_list_item_name {
    font-size: 25px;
    font-weight: 600;
    color: aliceblue;

    background: linear-gradient(45deg, #c28c27, #b634bb);
    opacity: 0.8;
    width: 100%;
    
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.main_list_item_type {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 13px;
}