main{
    width: 1024px;
    height: 500px;
    margin: auto;


}
.notice_option{
    height: 100px;
    display: flex;
    align-items: end;
    position: relative;

    margin-bottom: 10px;
    
    border-bottom: 3px solid black;
}

.notice_option>h3{
    font-size: xx-large;

}

.notice_option_right{
    display: flex;
    position: absolute;
    right: 0;

    margin-bottom: 5px;
}

.list_sort{
    padding: 22px 0px 10px;
    margin-top: 10px;
    margin-bottom: 5px;

    text-decoration: none;

}


.list_notice{

    display: grid;

    grid-template: 70px / .5fr 5fr 1fr;

    background-color: #F9F9F9;
    border-top: 1px solid #e0d4d4;
    border-bottom: 1px solid #e0d4d4;

    text-decoration: none;
    color: black;
}

.list_freeboard{

    display: grid;

    grid-template: 70px / 5fr 1fr .5fr .5fr 1fr;
    
    text-decoration: none;
}


/*==============================*/
.notice{
    display: flex;
    width: 70px;
    height: 35px;

    justify-content: center;
    align-items: center;


}

.notice::after{
    content: '공지';

    display: inline-block;
    width: 70px;
    height: 35px;
    text-align: center;

    line-height: 35px;
    border: 1px solid;
    border-radius: 20px;
}

.notice_header{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0px 10px 10px;

    border-top: 1px solid #e0d4d4;
}

.notice_subject{
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 3px 10px 7px 30px;

    border-top: 1px solid #e0d4d4;
}

.notice_date{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0px 10px 10px;

    border-top: 1px solid #e0d4d4;
}

/*==============================*/

.freeboard_subject{
    display: flex;
    justify-content: left;
    align-items: center;

    list-style: none;
    text-decoration: none;
    color: black;

    padding: 3px 10px 7px 30px;

    border-bottom: 1px solid #e0d4d4;
}
.userInfo, .heart, .read, .freeboard_date{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    text-decoration: none;
    color: black;

    padding: 3px 10px 7px 30px;

    border-bottom: 1px solid #e0d4d4;
}

.list_notice:hover{
    background-color: #F9F9F9;
}
.list_freeboard:hover{
    background-color: #F9F9F9;
}

.footer{
    width: 750px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;



}

.page{
    width: 750px;
    height: 70px;

    background-color: aqua;
    
}