@import url('https://webfontworld.github.io/cookierun/CookieRun.css');

*{
    padding: 0;
    margin: 0;
    /* font-family: 'CookieRun'; */
}
.whole{
    left: 350px;
    width : 1280px;
    margin: auto;
}
.item{
    width: 1020px;
    height: 886px;
    /* background-color: antiquewhite; */
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

.item_img{
    width: 508px;
    height: 508px;
    position: absolute;
    background: url(https://shop-phinf.pstatic.net/20230712_149/1689141723147orsKB_JPEG/3343809127994028_1734275766.jpg?type=m510) center/cover;
}
.item_imglist{
    width: 510px;
    height:70px;
    position: absolute;
    top: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_imglist_another{
    width: 40px;
    height: 40px;
    background-color: red;
    margin: 0px 2px;
}
.n1{
    background: url(https://shop-phinf.pstatic.net/20230712_149/1689141723147orsKB_JPEG/3343809127994028_1734275766.jpg?type=o1000) center/cover;
}
.n2{
    background: url(https://shop-phinf.pstatic.net/20230712_127/1689141731171yd5hn_JPEG/2472532521839555_309567386.jpg?type=o1000) center/cover;
}
.n3{
    background: url(https://shop-phinf.pstatic.net/20230712_38/1689141735784FQWCz_JPEG/4922708694771776_396083406.jpg?type=f40);
}
.n4{
    background: url(https://shop-phinf.pstatic.net/20230712_86/1689141740472nE1ue_JPEG/2472541823698659_1014661318.jpg?type=o1000) center/cover;
}
.item_rightbox{
    width: 510px;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 30px 40px;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,0.3);
    /* background-color: pink; */
    display: block;
}
.item_rightbox_point{
    width: 430px;
    height:300px;
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    left: calc((100% - 430px)/2);
    background-color: lightcyan;
}
.item_rightbox_info{
    width: 430px;
    min-height: 71px;   
    line-height: 53px;
    margin: auto;
}
.item_rightbox_title{
    font-size: 1.1rem;
    font-weight: bold;
}
.item_rightbox_point_title{
    /* background-color: white; */
    border-bottom: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    height: 53px;
    line-height: 53px;
    text-align: left;
    font-weight: bold;
    
}
.item_rightbox_point_price{
    width: 396px; height: calc(100% - 85px);
    margin: 16px;
    position: relative;
}
.item_rightbox_point_price_w_max{
    font-weight: bold;
    display: flex;
}
.item_rightbox_point_price_tip{
    height: 113px; width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    display: flex;
    padding : 13px 17px;
    
}
.item_rightbox_point_price_tip_left{
    width: 50%;
    height: 100%;
    text-align: left;
    display:grid;
}
.item_rightbox_point_price_tip_right{
    text-align: right;
    width: 50%;
    height: 100%;
    display: grid;
}
.item_rightbox_ads{
    height:42px;
    width: 430px;
    margin-top: 30px;
    background-color: aquamarine;
}
.review{
    width: 1020px;
    height: 288px;
    background-color: lightgrey;
    margin: auto;
}
.best{
    width: 1020px;
    height:353px;
    background-color: lightgoldenrodyellow;
    margin: auto;
}


