*{
    margin: 0
}
header{
    background-image: url(https://www.devsisters.com/_next/image?url=%2Fimage%2Fhome%2Fourgames-kingdom-bg.png&w=3840&q=75);
    background-position: 0;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    overflow: hidden;
}
.header_top{
    width: 1024px;
    margin: auto;
    position: relative;
}
h1{
    text-indent: -9999px;
}
.header_logo{
    width: 130px;
    display: flex;
    position: absolute;
    align-items: center;
    height: 75px;
}
.header_top img{
    width: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
}
nav ul{
    height: 75px;
    align-items: center;
    list-style: none;
    display: flex;
    color: aliceblue;
    font-size: 22px;
    margin-left: 150px;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
}
.header_cookie{
    height: 300px;
    position: absolute;
    right: 0px;
    top: 150px;
    transform: rotateY(180deg);
}
.header_cookie>img{
    height: 100%;
}
.header_bottom{
    height: 80px;
    border-bottom: 1px solid #E3E3E3;
}